<html>
<head>


    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%;
            touch-action: none;
        }
    </style>





    <script src="/static/js/p5/p5.js"></script>
    <script language="javascript" type="text/javascript" src="\static\js\p5\addons\p5.dom.js"></script>
    <script src="/static/js/JQuery.js"></script>


    <script src="/static/js/Toggle.js"></script>
    <script src="/static/js/Button_ON.js"></script>
    <script src="/static/js/Button_OFF.js"></script>

    <script src="/static/js/Throttle.js"></script>

    <script src="/static/js/StatusCircle.js"></script>
    <script src="/static/js/app.js"></script>



</head>
<body>
    

</body>
</html>
